venv/
ENV/
env/
.venv/

.env
*.env

db.sqlite3
*.sqlite3

**/migrations/
*/migrations/
*/migrations/*.py
*/migrations/*.pyc

__pycache__/
*.py[cod]
*$py.class

*.log

*.swp
*.swo
.DS_Store
Thumbs.db

*.so

.idea/
.vscode/

staticfiles/
media/
